<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarroMVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC40E70B1E8F0E4900404130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC40E7241E8F0E4A00404130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC40E72F1E8F0E4A00404130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
